@model IEnumerable<Traeq.Models.Order>
@{
    ViewData["Title"] = "Current Orders";
    Layout = "~/Views/Shared/DashBoardLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Current Orders</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3 border-left-info">
            <h6 class="m-0 font-weight-bold text-info">Orders In Progress</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.OrderDate.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>@item.User.FullName</td>
                                <td>
                                    @if (item.OrderStatus == "Accepted")
                                    {
                                        <span class="badge bg-info">Processing</span>
                                    }
                                    else if (item.OrderStatus == "OutForDelivery")
                                    {

                                        <span class="badge bg-primary">Out for Delivery</span>
                                    }
                                    else if (item.OrderStatus == "Ready")
                                    {

                                        <span class="badge bg-primary">Ready for Pickup</span>
                                    }
                                </td>
                                <td>@item.DeliveryMethod</td>
                                <td>
                                    <a asp-area="Pharmacy" asp-controller="Orders" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm text-white">
                                        <i class="fas fa-tasks"></i> Manage
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>